[submodule "movieist"]
	path = movieist
	url = https://github.com/danCze/MovieReviewer-movieist.git
[submodule "movie-gold-v1"]
	path = movie-gold-v1
	url = https://github.com/danCze/MovieReviewer-movie-gold-v1.git
